---
const { name, bio, image } = Astro.props;
---

---
<!-- About.astro -->
<section id="about" class="my-8">
  <h2 class="text-3xl font-bold text-center mb-6">Sobre Mi</h2>
  <p class="text-lg text-center mb-4">
    HOLA, Soy Sergio Alexander Munoz Diaz, un apasionado  por el desarrollo web con 21 anios de edad, oriundo de San Juan De Pasto, Colombia. 
  </p>
  <p class="text-lg text-center mb-4">
    Mi interes resalta  en  tecnologias como HTML, Css, JavaScript, React y Node.js, creando  y experimentando  aplicaciones web interactivas/funcionales, mi gusto por la tecnologia me impulsa a aprender constantemente y mejorar mis habilidades.
  </p>
  <p class="text-lg text-center mb-4">
    Ademas de mi curiosidad sobre el desarrollo web, disfruto del Muay Thai y la salsa bailable, estoy seguro que el deporte me ayuda a mantener un equilibrio saludable en mi vida y me brinda la disciplina necesaria para enfrentar nuevos desafios.
  </p>
  <p class="text-lg text-center mb-4">
    Estoy abierto a nuevas oportunidades y futuros conocimientos, Si deseas trabajar conmigo o simplemente conectar, no dudes en contactarme.
  </p>
</section>

