<header class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-white text-3xl font-bold">Mi Portafolio</h1>
    <div>
      <img src="https://avatars.githubusercontent.com/u/85529375?s=400&u=16ea7ba6b923e272d13e0f0d212a32ce956b7ec6&v=4" alt="Mi perfil" class="w-10 h-10 rounded-full" />
    </div>
  </div>
</header>
